<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Login</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background-color: #f2f2f2;
                color: #333;
            }

            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80vh;
            }

            h1 {
                color: rgb(37, 2, 2);
                text-align: center;
                margin-top: 20px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            form {
                width: 500px;
                margin: 0 auto;
                background-color: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                justify-content: center;
                align-items: center;
            }

            label {
                display: block;
                margin-bottom: 10px;
            }

            input[type="text"],
            input[type="password"] {
                width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            button[type="submit"] {
                width: 100%;
                padding: 10px;
                background-color: black;
                color: #fff;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            button[type="submit"]:hover {
                background-color: #333;
            }

            a {
                color: black;
            }
        </style>
</head>

<body>
    <%- include('./partials/nav') %>
        <%- include('./partials/script') %>
            <div class="container">
                <form id="loginForm" action="/user/login" method="post">
                    <%- include('./partials/alert') %>
                    <h1>logBlog</h1>
                    <label>Email</label>
                    <input type="text" required name="email" id="email" placeholder="example@example.com">
                    <label>Password</label>
                    <input type="password" required name="password" id="password" placeholder="Password">
                    <button type="submit">Login</button>
                    <a href="/user/signup">Don't have an account?</a>
                </form>
            </div>
            <!-- <script>
                document.getElementById('loginForm').addEventListener('submit', function (event) {
                    event.preventDefault();
                    formData = {
                        email: document.getElementById('email').value,
                        password: document.getElementById('password').value
                    };
                    console.log(formData);
                    fetch('/user/login', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(formData)
                    }).then((response) => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        // Parse JSON data from response body
                        return response.json();
                    }).then((data) => {
                        if (data.success) {
                            window.location.href = '/'; // Redirect to login page if registration is successful
                        } else {
                            // Handle errors or other scenarios
                        }
                    }).catch((err)=>{
                        console.error('Error:', error);
                    })
                })
            </script> -->
</body>

</html>